// Colors
$bgclr: #181818;
$footer_color: rgb(131, 130, 130);
$anzac: #daba36;
$metallicbronze: #4e441b;
$buddhagold: #b69403;
$ripelemon: #efc415;
$codgray: #171717;

// Breakpoints
$breakpoints: (
	'xs': 568px,
	'sm': 768px,
	'md': 1024px,
	'lg': 1152px
);