.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    height: 100vh;

    @media screen and (min-device-aspect-ratio: 1/2) {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
    @media screen and (min-device-aspect-ratio: 5/4) {
        grid-template-columns: 7fr 3fr;
        grid-template-rows: 1fr;
    }
    @media screen and (min-device-aspect-ratio: 3/1) {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
    }

    &__image {
        width: 100%;
        height: 100%;
    }
    
    &__action {
        margin: 15vh 0 0 0;

        @media screen and (min-device-aspect-ratio: 1/2) {
            margin: 5vh 0 0 0;
        }
        @media screen and (min-device-aspect-ratio: 5/4) {
            margin: calc(50vh - 90px) 0 0 0;
        }
    }

    &__line {
        margin-bottom: 3vh;
        margin-top: 1vh;
        text-align: center;
        color: white;
    }
    &__button {
        display: block;
        height: 30px;
        width: 80px;
        margin: 3vh auto;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 500;
        color: white;
        border: white 2px solid;
    }

    &__block__music {
        background-color: $music_c;
    }
    &__block__video {
        background-color: $video_c;
    }
    &__block__dev {
        background-color: $dev_c;
    }
    &__music {
        background-color: $music_b_c;
    }
    &__video {
        background-color: $video_b_c;
    }
    &__dev {
        background-color: $dev_b_c;
    }
}