.menu {
    display: inline-block;
    position: fixed;
    left: 95%;
    width: 50px;
    font-size: 50px;
    font-weight: 900;
    color: white;
    cursor: pointer;
}
.menu .menu-window {
    visibility: hidden;
    position: fixed;
    width: calc(100vw-5px);
    height: 120vh;
    right: 0vw;
    padding: 8px 0;
    margin-top: -5vh;
    text-align: center;
    background-color: $bg_color;
}
.menu .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.menu-container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30vh;

    @include media('<=md') {
        grid-template-columns: 100vw;
        margin-bottom: 5vh;
        margin-top: 10vh;
        padding-left: 0;
    }
}